aiostream==0.4.5
certifi==2023.5.7
charset-normalizer==3.1.0
chompjs==1.2.2
cssselect==1.2.0
greenlet==2.0.2
hrflow==2.1.0
idna==3.4
jmespath==1.0.1
loguru==0.7.0
lxml==4.9.2
packaging==23.1
parsel==1.8.1
playwright==1.35.0
playwright-stealth==1.0.5
pyee==9.0.4
python-dotenv==1.0.0
python-magic==0.4.27
requests==2.31.0
typing_extensions==4.6.3
urllib3==2.0.3
w3lib==2.1.1
